table{
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    border: 1px solid;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;

}
th,td{
    border-bottom: #eaeded solid 1px;
    padding: 10px;
}
th{
    text-align: left;
    background-color: #27ae60;
}
.button{
    margin: 5px;   
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.color{
    
    color: #ffff;
    background-color: #2980b9;
}
.ligh{
    color: #fff;
    background-color: red;
}
.red{
    color: #fff;
    background-color: #f4d03f;
}
